@model IEnumerable<FinalProject.Entities.Models.OrderUserDTO>
@{
    ViewData["Title"] = "Index";
}

<h1>Orders</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Siparis No
            </th>
            <th>
                Müşteri Adı
            </th>
            <th>
                Siparis Adı
            </th>
            <th>
                Sehir
            </th>
            <th>
                Durumu
            </th>
            <th>
                Tarihi
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderId)
                </td>
                <td>
                    @item.UserName
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.City)
                </td>
                <td>
                    @(item.IsShipped ? "Kargolandı" : "Hazırlanıyor")
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderDate)
                </td>
                <td>
                    @Html.ActionLink("Detail", "Detail", new { OrderId = item.OrderId }) | 
                    @Html.ActionLink("Complete", "Complete", new { OrderId = item.OrderId })
                </td>
            </tr>
        }
    </tbody>
</table>

